body{
  background-color: #141414;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.main{
  width: 100vw;
  min-height: 800px;
}

.logo{
  color:white;
  font-size: 80px;
  font-weight: 550;
  font-family: 'BebasNeueRegular';
  padding-left: 30px;
}

.header{
  transition: 0.4s;
  background-color: none;
  width: 100vw;
  height: 4px;
  position: fixed;
  top: 0;
  right:0;
  z-index: 100;

}

.header_button{
  position: relative;
  bottom: -15px;
  margin-left: 15px;
  background-color: inherit;
  color: #DCDCDC;
  border:none;
  font-size: 20px;
  transition: 0.3s;

}
.header_button:hover{
  color: #bababa;
  font-size: 25px;
}
.buttons_{
  position: relative;
  top: 50%;
  left: 60%;
  z-index: 20;
}

a{
  color: #6F6F6F;
  width: 200px;
  text-decoration: none;
  margin-left: 100px;
}
.gradient{
    background: linear-gradient(90deg, rgba(167, 112, 239,1) 0%, rgba(207, 139, 243,1) 34%, rgba(253, 185, 155,1) 100%);
    background-size: 300%;
    background-position: left;
    animation: bg-animation 60s infinite;
}
@keyframes bg-animation {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
.benik{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 120px;
  top:  35%;
  text-transform: lowercase;
  color: white;
  text-shadow: 0.5px 0.5px black;
  font-family: 'BebasNeueRegular';

}
.top{
  width: 100vw;
  min-height: 400px;
}
.kop{
  top: 20%;
}
